services:
  api:
    build: .
    image: njmtech-mail-oauth-api
    command: fastapi run api/main.py --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/code
    restart: unless-stopped
